html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  margin-top: 132.5px;
  transition: 0.3s;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1475px;
  padding: 0px 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 40.5px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 1999;
  &__top {
    width: 100%;
    margin-bottom: 6px;
  }

  &__top-wrapper {
    gap: 36.5px;
  }

  &__banner {
    width: 100%;
    max-width: 1098px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cecece;
    text-align: center;
    border-radius: 5px;
    background: #f4f4f4;

    padding: 17px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    object-fit: cover;
    object-position: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  &__burger-btn {
    display: none;
  }
  &__mobile-btn {
    display: none;
  }
}

.logo {
  width: 191px;
  object-fit: contain;
}

.menu {
  position: relative;
  width: 100%;
  background-color: #ddf8ff;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  max-height: 0px;
  overflow: hidden;
  padding: 0;
  transition: 0.3s;
  visibility: hidden;
  border-top-right-radius: 0px;
  opacity: 0;
  &.active {
    margin-top: 49.5px;
    padding-top: 25.5px;
    padding-right: 55px;
    padding-bottom: 26.5px;
    padding-left: 48px;
    visibility: visible;
    opacity: 1;
    overflow: visible;
  }
  &::after {
    content: '';
    position: absolute;
    right: -1px;
    top: -46px;
    width: 106.5px;
    height: 47.278px;
    background-image: url('../assets/img/rounded-menu-triangle-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &_currency {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 28px;
  }

  &_currency-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &_currency-item-valute {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &_currency-item-value {
    color: #fe9801;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__group {
    &_nav {
      width: 100%;
      max-width: 902px;
    }
    &-item {
      &_top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &_bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 45px;
      }
    }
    &_quad {
      width: 100%;
      min-height: 230px;
      max-width: 408px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      justify-content: space-between;
    }
  }

  &__nav {
    width: 100%;
    max-width: 902px;

    border-radius: 10px;
    background: #69bacf;
  }

  &__nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 36px;
    padding: 23px 29px;
  }

  &__nav-list-item {
    &_dropdown {
      position: relative;
      &:hover {
        .menu__nav-list-item-header {
          background: #fe9801;
        }
        .menu__nav-list-item-body {
          padding-top: 7px;
          max-height: 500px;
        }
        .menu__nav-list-item-icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__nav-list-item-header {
    padding: 11px 16px;
    display: flex;
    border-radius: 5px;

    align-items: center;
    gap: 7px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.3s;
  }

  &__nav-list-item-icon {
    transition: 0.3s;
  }

  &__nav-list-item-body {
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
    z-index: 10;
  }

  &__nav-list-item-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 14px 24px;
    border-radius: 5px;
    gap: 14px;
    background: #fe9801;
  }

  &__nav-link {
    position: relative;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.3s;
    &:hover::after {
      max-width: 100%;
    }
    &::after {
      content: '';
      width: 100%;
      max-width: 0%;
      height: 1.5px;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: 0.3s;
    }
  }

  &__line {
    margin-top: 27px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__line-text {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.btn {
  padding: 7px 32px;
  border-radius: 5px;
  background: #fe9801;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.3s;
  text-align: center;
  &:hover {
    background-color: transparent;
    outline: 1px solid #fe9801;
    color: #fe9801;
  }
  &:active {
    transform: translateY(2px);
  }
  &_outline {
    padding: 13px 38px;
    border: 1px solid #69bacf;
    color: #69bacf;
    background: #fff;
    &:hover {
      background-color: #69bacf;
      color: #fff;
      outline: none;
    }
  }
}
.socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.clock {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 9px;
  &__date {
    color: #69bacf;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #69bacf;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__time-value {
    width: 45px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #69bacf;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.top-news-section {
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__top-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 30px;
  }

  &__top-blocks {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
  }

  &__banner {
    width: 100%;
    height: 156px;
    object-fit: cover;
    object-position: center;
  }
}

.news-card {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: auto;
  border-radius: 5px;
  border: 1px solid #a6dfee;
  background: #fff;
  overflow: hidden;
  &:hover {
    .news-card__image {
      transform: scale(1.1);
    }
  }
  &_block {
    position: relative;
    transition: 0.3s;
    .news-card__fav-btn {
      position: absolute;
      top: 33px;
      right: 20px;
      &:hover {
        background-image: url('../assets/icons/heart.svg');
      }
    }
    .news-card__date {
      padding-right: 16px;
      margin-bottom: 33px;
    }
    &:hover {
      background: #69bacf;
      .news-card__heading,
      .news-card__tag,
      .news-card__date {
        color: #fff;
      }
    }
  }

  &_bg {
    position: relative;
    padding: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: rgba($color: #000000, $alpha: 0.48);
      opacity: 0;
      transition: 0.3s;
    }
    &:hover::after {
      opacity: 1;
    }
    .news-card__image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .news-card__date,
    .news-card__tags,
    .news-card__heading {
      position: relative;
      z-index: 3;
    }
    .news-card__date {
      color: #fff;
      margin-bottom: 18px;
    }
    .news-card__tag,
    .news-card__heading {
      color: #fff;
    }
  }

  &_row {
    padding: 26px 46px;
    border: none;
    background: none;
    border-radius: 5px;
    transition: 0.3s;
    outline: 1px solid transparent;
    cursor: pointer;
    &:hover {
      outline: 1px solid #a6dfee;
      background: #fff;
    }
    .news-card__heading {
      margin-top: 14px;
    }
  }

  &__image-wrapper {
    width: 100%;
    height: 361px;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
  }

  &__body {
    width: 100%;
    padding: 35px;
  }

  &__body-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__date {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 16px;
  }

  &__tag {
    color: #69bacf;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__fav-btn {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-image: url('../assets/icons/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s;
    &:active {
      transform: scale(0.95);
    }
    &:hover {
      background-image: url('../assets/icons/filled-heart.svg');
    }
    &.active {
      background-image: url('../assets/icons/filled-heart.svg');
    }
  }

  &__heading {
    margin-top: 24px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.player {
  width: 100%;
  height: 348px;
  border-radius: 5px;
  overflow: hidden;
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.banner-section {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 73px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__img {
    width: 100%;
    height: 311px;
    object-fit: cover;
    object-position: center;
  }
}
.bottom-news-section {
  &__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__block-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__btn {
    margin-top: 33px;
  }
}
.footer {
  width: 100%;
  margin-top: 77px;
  padding-top: 59.5px;
  padding-bottom: 79.5px;
  background-color: #fff;
  &__top {
    margin-bottom: 65px;
    &-wrapper {
      gap: 32px;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__bottom {
    &-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__form {
    width: 100%;
    max-width: 658px;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.form {
  &__input {
    width: 100%;
    max-width: 456px;
    padding: 13px;
    padding-left: 34px;
    border-radius: 5px;
    background: #f9f9f9;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: none;
    line-height: normal;
    transition: 0.3s;
    outline: 1px solid transparent;
    &:focus {
      outline: 1px solid #fe9801;
    }
    &_email {
    }
  }

  &__btn {
    padding: 13px 46px;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 88.73px;
  width: 100%;
  height: 100%;
  background: #ddf8ff;
  z-index: 12;
  padding: 29px 16px;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  &.active {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  &__body {
    width: 100%;
    height: 88%;
    overflow-y: auto;
    padding: 30px;
    border-radius: 5px;
    background: #69bacf;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: start;
    gap: 59px;
  }
  &__nav {
    width: 100%;
  }

  &__nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 28px;
  }

  &__nav-list-item {
    width: 100%;
    &_dropdown {
      &.active {
        .mobile-menu__nav-list-item-body {
          padding: 9px 25px;
          margin-top: 10px;
        }
        .mobile-menu__nav-list-item-header-icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__nav-list-item-header {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__nav-list-item-header-icon {
    transition: 0.3s;
  }

  &__nav-list-item-body {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 14px;
    border-radius: 5px;
    background: #4da2b7;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    overflow: hidden;
    max-height: 0px;
  }

  &__nav-list-item-body-link {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__nav-link {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__link {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__socials-link {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.article-section {
  margin-bottom: 54px;
  &__wrapper {
    align-items: flex-start;
    gap: 67px;
  }

  &__sidebar {
    width: 100%;
    max-width: 335px;
  }

  &__sidebar-info {
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 10px;
  }

  &__sidebar-info-item {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
  }

  &__sidebar-info-item-heading {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__sidebar-info-item-value {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__sidebar-info-item-tags {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
  }

  &__sidebar-info-item-tag {
    color: #69bacf;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__offers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 64px;
  }

  &__offer {
    position: relative;
    width: 100%;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 37px 29px;
    border-radius: 10px;
    overflow: hidden;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.39) 0%,
        rgba(0, 0, 0, 0) 161.92%
      );
    }
  }

  &__offer-heading {
    color: #fff;
    margin-bottom: 12px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__offer-text {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__offer-btn {
    margin-top: auto;
  }

  &__offer-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
  }
}

.article {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 54px 58px;
  border-radius: 5px;
  border: 1px solid #a6dfee;
  background: #fff;
  &__fav-btn {
    position: absolute;
    top: 49px;
    right: 36px;
  }

  &__heading {
    max-width: 803px;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
  }

  &__img {
    border-radius: 10px;
    margin-bottom: 48px;
    width: 100%;
    height: 505px;
    object-fit: cover;
    object-position: center;
  }

  &__text-content {
    margin-bottom: 84px;
    p {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__social-link {
    display: inline-block;
    margin-left: auto;
  }
}
.breadcrumbs {
  margin-bottom: 30px;
  flex-wrap: wrap;
  display: flex;
  gap: 19px;
  align-items: center;
  &__link {
    position: relative;
    color: #69bacf;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: -webkit-box;
    max-width: 287px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form-section {
  &__wrapper {
    padding: 0px 59px;
    padding-top: 103px;
    padding-bottom: 87px;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid #a6dfee;
    background: #fff;
  }

  &__heading {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    .form__input {
      max-width: unset;
    }
  }

  .form__btn {
    margin-left: auto;
  }
}
.form {
  &__checkbox-wrapper {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  input[type='checkbox']:checked + &__checkbox {
    background-image: url('../assets/icons/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #f9f9f9;
  }
}

.all-section {
  &__wrapper {
    padding-top: 19px;
    border-top: 1px solid #69bacf;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__heading {
    margin-bottom: 48px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__row {
    width: 100%;
    margin-bottom: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__filter {
    position: relative;
    width: 100%;
    max-width: 200px;
    padding: 6px 16px;
    border-radius: 5px;
    background: #69bacf;
    &:hover {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .all-section__filter-body {
        max-height: 100vh;
      }
      .all-section__filter-header-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__filter-header {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__filter-header-icon {
    transition: 0.3s;
  }

  &__filter-body {
    position: absolute;
    left: 0;
    top: 100%;
    max-height: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 6px;
    transition: 0.3s;
    background-color: #69bacf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #69bacf;
  }

  &__filter-body-link {
    width: 100%;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 6px 16px;

    line-height: normal;
    &:hover {
      background-color: #4da2b7;
    }
  }

  &__tag-list {
    display: flex;

    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__tag-link {
    padding: 6px 21px;
    color: #69bacf;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #69bacf;
    background: #fff;
    &:hover {
      background-color: #69bacf;
      color: #fff;
    }
  }

  &__group {
    width: 100%;
    margin-bottom: 37px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__group-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 30px;
    &_blocks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__top-blocks {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  &__btn {
    margin: 0 auto;
  }
}

.person-section {
  &__wrapper {
    padding-top: 19px;
    border-top: 1px solid #69bacf;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__heading {
    margin-bottom: 55px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  &__card {
    width: 100%;
    max-width: 344px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #a6dfee;
    background: #fff;
    padding-bottom: 32px;
  }

  &__card-img {
    width: 100%;
    height: 280.518px;
    object-fit: cover;
    object-position: center;
  }

  &__card-heading {
    margin-top: 27px;
    margin-bottom: 8px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  &__card-text {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__btn {
    margin: 0 auto;
    margin-top: 42px;
  }
}

.prof-section {
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__content {
    gap: 71px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }

  &__img {
    width: 100%;
    max-width: 581px;
    height: 486.832px;
    object-fit: cover;
    object-position: center;
  }

  &__body {
    padding: 73px 83px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    border-radius: 5px;
    border: 1px solid #a6dfee;
    background: #fff;
  }

  &__heading {
    margin-bottom: 60px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__text-content {
    p {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__social-btn {
    margin-top: 120px;
    margin-left: auto;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  padding: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.3s;
  &.active {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}
.popup {
  position: relative;
  width: 100%;
  max-width: 583px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #a6dfee;
  background: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  &__close-btn {
    position: absolute;
    cursor: pointer;
    top: 22px;
    right: 22px;
  }

  &__heading {
    margin-bottom: 35px;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
    .form__input {
      max-width: unset;
    }
    .form__checkbox-wrapper {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .form__btn {
      margin: 0 auto;
    }
  }

  &__form-fieldset {
    width: 100%;
  }

  &__form-input {
    max-width: unset;
    width: 100%;
  }

  &__form-textarea {
    width: 100%;
  }
}

@media (max-width: 1320px) {
  .menu.active {
    padding: 26px;
  }
  .menu__group-item_bottom {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .menu_currency {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .top-news-section__top-col {
    .news-card {
      max-width: unset;
      &__image-wrapper {
        height: 600px;
      }
    }
  }
  .top-news-section__top {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1280px) {
  .all-section__group-col_blocks,
  .all-section__top-blocks {
    grid-template-columns: 1fr;
  }
  .person-section__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .person-section__card {
    max-width: unset;
  }

  .prof-section__img {
    max-width: 400px;
  }
}

@media (max-width: 1264px) {
  .menu {
    flex-direction: column;
    &__nav,
    &__group_quad,
    &__group_nav {
      max-width: unset;
    }
    &__group-item_bottom {
      flex-direction: row;
    }
    &_currency {
      max-width: 400px;
    }
    &__group_quad {
      min-height: 130px;
    }
  }
  .bottom-news-section__block-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .menu {
    &__nav-list {
      gap: 24px;
      padding: 16px;
    }
    &__nav-list-item-header {
      padding: 12px;
    }
  }
  .bottom-news-section__group,
  .all-section__group {
    grid-template-columns: 1fr;
  }
  .bottom-news-section {
    .news-card {
      max-width: unset;
      &_bg {
        min-height: 460px;
      }
    }
  }

  .article-section__wrapper {
    gap: 16px;
  }

  .all-section {
    .news-card {
      max-width: unset;
    }
  }

  .prof-section__content {
    gap: 32px;
  }
  .prof-section__img {
    max-width: 260px;
  }
  .prof-section__body {
    padding: 48px;
  }
}

@media (max-width: 920px) {
  .article-section__wrapper {
    flex-direction: column;
    gap: 64px;
  }
  .article-section__sidebar {
    max-width: unset;
  }
  .article-section__offers {
    flex-direction: row;
    width: 100%;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    display: inline-block;
  }
  .main {
    margin-top: 120px;
  }
  .logo {
    width: 160px;
  }
  .header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #fff;
    margin: 0;
    padding: 16px 0;
    &__banner {
      display: none;
    }
    &__menu {
      display: none;
    }
    &__burger-btn {
      display: inline-block;
    }
    &__mobile-btn {
      padding: 8px 18px;
      border-radius: 5px;
      background: #fe9801;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .toggle-menu-footer {
    display: none;
  }
  .footer__form {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    .form__input {
      max-width: unset;
    }
  }
  .top-news-section__top-col .news-card__image-wrapper {
    height: 400px;
  }
  .header__mobile-btn {
    display: inline-block;
    margin-left: auto;
  }
  .form-section__wrapper {
    padding: 32px;
  }
  .form-section {
    padding: 0px 16px;
  }
  .person-section__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .prof-section__content {
    flex-direction: column;
  }
  .prof-section__img {
    max-width: 480px;
  }
}

@media (max-width: 675px) {
  .prof-section__body {
    padding: 24px;
  }
  .top-news-section__top-blocks,
  .bottom-news-section__block-list {
    grid-template-columns: 1fr;
  }
  .footer__top-wrapper {
    flex-direction: column;
  }
  .news-card__tags {
    gap: 16px;
  }
  .header {
    padding-top: 17px;
    padding-bottom: 0;
  }
  .mobile-menu {
    top: 72px;
  }

  .top-news-section__top-col .news-card__image-wrapper,
  .news-card__image-wrapper {
    height: 221px;
  }
  .news-card__body {
    padding: 14px 22px;
  }
  .news-card__date,
  .news-card__tag {
    font-size: 12px;
  }
  .news-card__fav-btn {
    width: 18px;
    height: 18px;
  }
  .news-card__heading {
    font-size: 16px;
    margin-top: 20px;
  }
  .top-news-section__top-col,
  .top-news-section__top-blocks,
  .bottom-news-section__block-list,
  .top-news-section__top {
    gap: 15px;
  }
  .player {
    height: 200px;
  }
  .banner-section__wrapper {
    grid-template-columns: 1fr;
  }
  .banner-section__img {
    height: 175px;
  }
  .banner-section {
    margin-bottom: 20px;
  }
  .bottom-news-section .news-card_bg {
    min-height: 268px;
  }
  .news-card_bg {
    padding: 16px;
    .news-card__tag {
      padding: 5px 20px;
      border-radius: 5px;
      background: #fff;
      color: #69bacf;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .bottom-news-section__group {
    gap: 25px;
  }
  .news-card_row {
    padding: 16px;
  }
  .bottom-news-section__btn {
    margin-top: 0;
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
  }
  .footer {
    margin-top: 37px;
    padding-top: 38px;
    padding-bottom: 39px;
  }

  .article {
    padding: 32px;
    &__heading {
      font-size: 20px;
    }
    &__img {
      height: 220px;
    }
    &__text-content {
      p {
        font-size: 16px;
      }
    }
  }
  .article-section__offers {
    flex-direction: column;
  }
  .article-section__offer {
    height: 280px;
  }
  .form-section__wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .article__text-content {
    margin-bottom: 48px;
  }

  .all-section__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }
  .all-section__tag-list {
    justify-content: start;
  }
  .person-section__list {
    grid-template-columns: 1fr;
  }

  .popup {
    padding: 24px;
  }
}

@media (max-width: 420px) {
  .header__burger-btn {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .header__top-wrapper {
    gap: 12px;
  }
}

@media (max-width: 375px) {
  .logo {
    width: 128px;
  }
  .mobile-menu {
    top: 62.73px;
  }
}

@media (max-width: 350px) {
  .header__mobile-btn {
    display: none;
  }
}
